<div class="flex flex-col min-h-screen">
  <header>
    <PashWeb.NavComponent.navbar active_tab={@active_tab} tabs={@tabs}>
      <:brand_block>
        <PashWeb.Custom.BrandComponent.brand />
      </:brand_block>
    </PashWeb.NavComponent.navbar>
  </header>
  <main>
    <.flash_group flash={@flash} />
    {@inner_content}
  </main>
</div>
