@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Roboto+Slab:wght@100..900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
@layer base {
    :root {
        --base: #fdf6f7;
        --basecontent: #080304;
        --primary: #dc2852;
        --primarycontent: #fdf6f7;
        --secondary: #eb7a94;
        --accent: #f25277;
    }
    .dark {
        --base: #171b27;
        --basecontent: #fcf8f9;
        --primary: #d7234d;
        --primarycontent: #fdf6f7;
        --secondary: #85142e;
        --accent: #ab0d32;
    }
    body {
        @apply bg-base font-brand text-basecontent tracking-wide;
    }
    header {
        @apply fixed top-0 flex w-full h-fit site-padding bg-base z-50;
    }
    nav {
        @apply border-b border-primary;
    }
    main {
        @apply flex flex-col flex-grow mt-24 site-padding;
    }
    section {
        @apply mb-12;
    }
    h1 {
        @apply text-3xl sm:text-4xl font-bold text-primary tracking-wide;
    }
    h4 {
        @apply text-lg font-bold text-primary;
    }
    h5 {
        @apply text-sm font-medium text-primary;
    }
    label {
        @apply !text-primary;
    }
}
@layer utilities {
    .site-padding {
        @apply px-4 lg:px-12;
    }
    .content-width {
        @apply w-full max-w-screen-lg mx-auto px-3;
    }
}
